 body {
     font-family: "MicrosoftYaHei";
     margin: 0;
     padding: 0;
 }
 
 .img-responsive,
 .thumbnail>img,
 .thumbnail a>img,
 .carousel-inner>.item>img,
 .carousel-inner>.item>a>img {
     display: block;
     max-width: 100%;
     height: auto;
 }
 
 .img-thumbnail {
     display: inline-block;
     max-width: 100%;
     height: auto;
     padding: 4px;
     line-height: 1.42857143;
     background-color: #fff;
     border: 1px solid #ddd;
     border-radius: 4px;
     -webkit-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
 }
 
 .img-circle {
     border-radius: 50%;
 }
 
 .text-center {
     text-align: center;
 }
 
 .control-label {
     font-weight: bold;
 }
 
 .btn {
     display: inline-block;
     padding: 6px 12px;
     margin-bottom: 0;
     font-size: 14px;
     font-weight: normal;
     line-height: 1.42857143;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     -ms-touch-action: manipulation;
     touch-action: manipulation;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     background-image: none;
     border: 1px solid transparent;
     border-radius: 4px;
 }
 
 .col-md-12 {
     padding: 0 10px;
 }
 
 .btn-confirm {
     width: 30%;
     margin: 10px 20px;
     height: 50px;
     background-color: #ff7700;
     color: #f2f2f2;
     font-weight: bold;
 }
 
 .headerblock {
     background-image: url('../../../static/images/weixin/login/headerback.png');
     background-size: 100% 100%;
     padding: 20px 0;
     background-color: #ddd;
 }
 
 .weui-cell__hd>img {
     width: 30px;
     height: 30px;
     margin: 10px 10px 10px 10px;
 }
 
 input {
     outline: none;
 }
 
 input:focus {
     outline: none;
 }
 /*输入框与按钮组合*/
 
 .inputBlock {
     border: 1px solid #999;
     padding: 8px;
     border-radius: 5px;
     margin-bottom: 10px;
 }
 
 .inputBlock>input {
     border-radius: 0;
     box-sizing: border-box;
     outline: none;
     width: 70%;
     border: none;
     padding: 8px 0;
     padding-left: 7px;
 }
 
 .input-left>input {
     border-right: 1px solid #ddd;
 }
 
 .input-right>input {
     border-left: 1px solid #ddd;
 }
 
 .inputBlock .btn-span {
     color: #555;
     padding: 8px;
     box-sizing: border-box;
     text-align: center;
     cursor: pointer;
     outline: none;
     background-color: #fff;
     border: none;
     width: 27%;
 }
 /*底部模块*/
 
 .bottom-block {
     position: absolute;
     /*margin-top: 200px;*/
     width: 100%;
     /*top: 400px;*/
     bottom: 0;
     padding: 5px 10px;
     border-top: 1px solid #ddd;
     box-sizing: border-box;
     /*TODO 阴影*/
 }
 /*横向布局模块*/
 
 .hor-block {
     float: left;
     padding: 5px 10px;
     box-sizing: border-box;
 }
 /*span样式*/
 
 .span-info {
     position: absolute;
     top: 0;
     right: 10px;
     background-color: #5281e3;
     padding: 3px 5px;
     color: #f2f2f2;
 }
 /*大的确认按钮*/
 
 .big-confrim-btn {
     background-color: #ff7700;
     width: 100%;
     color: #fff;
     padding: 8px;
     height: 200%;
     font-size: 18px;
 }
 
 .btn-skip {
     /*跳过按钮*/
     border: none;
     background-color: #fff;
     font-size: 18px;
     width: 100%;
     line-height: 200%;
     padding: 0;
     margin: 6px 6px;
     border-radius: 0;
 }
 
 .border-right {
     border-right: 1px solid #ddd;
 }
 
 .border-left {
     border-left: 1px solid #ddd;
 }
 /*确认按钮 */
 
 .btn-yes {
     background-color: #ff7700;
     color: #fff;
     padding: 8px;
     height: 200%;
     font-size: 18px;
 }
 /*取消  跳过按钮样式*/
 
 .btn-cancel {
     color: #555;
     height: 200%;
     padding: 8px;
     font-size: 18px;
 }
 /*顶部返回条*/
 
 .back-head {
     top: 0;
     background-color: #5281e3;
     width: 100%;
     height: 50px;
     text-align: left;
     padding-left: 15px;
     color: #f2f2f2;
     line-height: 50px;
     position: fixed;
     z-index: 9999;
 }
 
 .back-head-left {
     float: left;
     width: 15px;
     height: 25px;
     margin-top: 15px;
     margin-right: 10px;
     background-image: url('../../../static/images/weixin/index/left-icon.png');
     background-repeat: no-repeat;
 }
 /*蓝图标顶部小条*/
 
 .top-blue {
     width: 100%;
     height: 30px;
     line-height: 30px;
     border-bottom: 1px solid #aaa;
     text-align: center;
     color: #aaa;
     font-size: 0.8em;
 }
 
 .top-inner {
     line-height: 30px;
     width: auto;
     height: auto;
 }
 
 .top-text {
     color: black;
 }
 
 .top-icon {
     height: 1.2em;
     margin-right: 1px;
     margin-bottom: -3px;
 }
 /*橙图标顶部小条*/
 
 .top-orange {
     width: 90%;
     height: 30px;
     line-height: 30px;
     border-bottom: 1px solid #aaa;
     text-align: center;
     color: #aaa;
     font-size: 0.8em;
     margin: auto;
 }
 /*地址管理cell*/
 
 .address-cells {
     margin-top: 0;
     border-top: none;
 }
 /*修改list中 右侧文字的大小*/
 
 .weui-cell__ft>span {
     font-size: 14px;
     line-height: 30px;
 }
 /*小喇叭提示区域*/
 
 .laba-block {
     position: absolute;
     bottom: 20px;
     width: 70%;
     left: 50%;
     margin-left: -40%;
     text-align: left;
     line-height: 40px;
     height: 40px;
     background-color: #fff;
     box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.2);
     padding: 0 0 0 50px;
 }
 
 .laba-block>img {
     width: 70px;
     height: 65px;
     position: absolute;
     top: -17px;
     left: -25px;
     display: inline-block;
 }
 
 .laba-block>span {
     font-size: 15px;
 }
 
 .span-well {
     position: relative;
     text-align: right;
     display: none;
 }
 /*父元素list*/
 
 .parent-cells {
     border-top: 1px solid #e5e5e5;
 }
 
 .parent-cells.active .weui-cell_access .weui-cell__ft:after {
     transform: rotate(135deg);
 }
 
 .parent-cells.active .span-well {
     display: block;
 }