<!-- 马少博  创建于 2017年6月13日10:42:54 -->
<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='shortcut icon' href='https://raw.githubusercontent.com/OldSixLi/ListPage/master/public/images/my.ico' />
    <title> 标题</title>
    <link href='http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet'>
    <style>
      body {
        font-family: "MicroSoft YaHei"
      }
    </style>
  </head>

  <body>
    <div class="row">
      <!-- 消除外边距 -->
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>
            <a href="#">网站管理</a>
          </li>
          <li>
            <a href="#">站内信管理</a>
          </li>
          <li class="active">站内信群发</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <!--信息标题-->
        <div class="row form-group">
          <div class="col-md-3 text-right">
            <label for="" class="control-label">信息标题</label>
          </div>
          <div class="col-md-9">
            <input type="text" placeholder="请输入信息标题" class="form-control">
          </div>
        </div>
        <!--信息内容-->
        <div class="row form-group">
          <div class="col-md-3 text-right">
            <label for="" class="control-label">信息内容</label>
          </div>
          <div class="col-md-9">
            <textarea rows="5" cols="" class="form-control"></textarea>
          </div>


          <div class="col-md-3 text-right">
            <label for="" class="control-label">是否重要</label>
          </div>
          <div class="col-md-9">
            <input type="radio" name="role" ng-model="model.role" value="Y">是&nbsp;&nbsp;
            <input type="radio" name="role" ng-model="model.role" value="N" checked>否&nbsp;&nbsp;
          </div>
        </div>

        <div class="row">
          <!-- 消除外边距 -->
          <div class="col-md-offset-3 col-md-9">
            <button type="button" class="btn btn-large btn-block btn-primary">发送</button>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- 脚本 -->
    <!-- <script src='http://cdn.bootcss.com/angular.js/1.4.1/angular.js'></script> -->
    <!-- <script src='https://cdn.bootcss.com/vue/2.3.3/vue.js'></script> -->
    <script src='http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js'></script>
    <script src='http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
    <script>
      var filePath = ''; //此处填写相对于public/的目录
    </script>
    <script src='https://rawgit.com/OldSixLi/ResourceOnLine/master/webscoket/ScoketByMa.js'></script>
  </body>

</html>